body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #000 !important;
    color: #fff !important;
    margin: 0;
    min-height: 100vh;
}

.app-wrapper {
    background-color: #000 !important;
    min-height: 100vh;
    color: #fff !important;
}

main {
    background-color: #000 !important;
    color: #fff !important;
}

button {
    margin: 2px;
    border: 0;
    border-radius: .2em;
    padding: 6px 10px;
    background-color: var(--gray1);
    color: whitesmoke;
    cursor: pointer;
    transition: background-color .5s;
}

button:hover {
    color: var(--color2);
    background-color: black;
}